<form [formGroup] = "formArticle" (ngSubmit)="update()"> 
    <div class="form-group"> 
      <label>Nom</label> 
      <input formControlName="nomArt" class="form-control" type="text"> 
    </div>
    <div class="form-group"> 
      <label>Description</label> 
      <input formControlName="description" class="form-control" type="text"> 
    </div>
    <div class="form-group"> 
      <label>Image</label> 
      <input formControlName="image" class="form-control" type="text"> 
    </div>
    <div class="form-group"> 
      <label>Prix</label> 
      <input formControlName="prix" class="form-control" type="text"> 
    </div>
    <button type="submit" class="btn btn-success mt-2">Modifier</button>
  </form>
  